In [67]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

# Part 1

In [68]:
html_doc = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(html_doc.content, 'html.parser')

In [69]:
mydivs = soup.findAll("table", {"class": "wikitable sortable"})
str_mydivs = str(mydivs[0])

In [70]:
df = pd.read_html(str_mydivs)[0]

In [71]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [72]:
The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

SyntaxError: invalid syntax (<ipython-input-72-f0392a21b006>, line 1)

In [73]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df[~df['Borough'].str.contains("Not assigned")]

In [74]:
duplicates = df['Postal Code'].duplicated()
duplicates

2      False
3      False
4      False
5      False
6      False
       ...
160    False
165    False
168    False
169    False
178    False
Name: Postal Code, Length: 103, dtype: bool

In [75]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [76]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
df.loc[df['Neighborhood']=="Not assigned"]
# No "Not assigned" neighborhoods remaining

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [77]:
# More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, 
# you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
# These two rows will be combined into one row with the neighborhoods separated with a comma as shown in 
# row 11 in the above table.

# Resolved on the original Wikipedia pge.

# Part 2

In [81]:
geospatial = pd.read_csv('Geospatial_Coordinates.csv')

In [82]:
geospatial

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [84]:
final_df = df.set_index('Postal Code').join(geospatial.set_index('Postal Code'))
final_df.head()

,Borough,Neighborhood,Latitude,Longitude
Postal Code,,,,
M3A,North York,Parkwoods,43.753259,-79.329656
M4A,North York,Victoria Village,43.725882,-79.315572
M5A,Downtown Toronto,"Regent Park, Harbourfront",43.654260,-79.360636
M6A,North York,"Lawrence Manor, Lawrence Heights",43.718518,-79.464763
M7A,Downtown Toronto,"Queen's Park, Ontario Provincial Government",43.662301,-79.389494