In [35]:
import pandas as pd
import numpy as np
from bs4 import BeautifulSoup
import requests

In [36]:
html_doc = requests.get('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
soup = BeautifulSoup(html_doc.content, 'html.parser')

In [45]:
mydivs = soup.findAll("table", {"class": "wikitable sortable"})
str_mydivs = str(mydivs[0])

In [52]:
df = pd.read_html(str_mydivs)[0]

In [53]:
df.head()

  Postal Code           Borough               Neighborhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [ ]:
The dataframe will consist of three columns: PostalCode, Borough, and Neighborhood
Clean your Notebook and add Markdown cells to explain your work and any assumptions you are making.
In the last cell of your notebook, use the .shape method to print the number of rows of your dataframe.

In [55]:
# Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
df = df[~df['Borough'].str.contains("Not assigned")]

In [63]:
duplicates = df['Postal Code'].duplicated()
duplicates

2      False
3      False
4      False
5      False
6      False
       ...
160    False
165    False
168    False
169    False
178    False
Name: Postal Code, Length: 103, dtype: bool

In [64]:
df.head()

  Postal Code           Borough                                 Neighborhood
2         M3A        North York                                    Parkwoods
3         M4A        North York                             Victoria Village
4         M5A  Downtown Toronto                    Regent Park, Harbourfront
5         M6A        North York             Lawrence Manor, Lawrence Heights
6         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [66]:
# If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough.
df.loc[df['Neighborhood']=="Not assigned"]
# No "Not assigned" neighborhoods remaining

Empty DataFrame
Columns: [Postal Code, Borough, Neighborhood]
Index: []

In [ ]:
# More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, 
# you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. 
# These two rows will be combined into one row with the neighborhoods separated with a comma as shown in 
# row 11 in the above table.

# Resolved on the original Wikipedia pge.